secrets.yaml
.storage/
*.db*
*.log
backups/
tts/
/.HA_VERSION
/.cloud
/.storage
/@eaDir
/blueprints
/backups
/custom_components
/tts
/themes
custom_components/
secrets.yaml
*.db*
*.log
home-assistant.log*
/www
/image
/esphome
.ha_run.lock
/sensors
climates.yaml
scenes.yaml
scripts.yaml